/* body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  /* .slider-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
  }
  
  .image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  } */
  

  .slider-container-ab {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom:50px;
    margin-top: 50px;
    background-color: transparent;
    /* margin-top: 30px; */
  }
  
  .image-track-ab {
    display: flex;
    gap: 20px;
    will-change: transform;
  }
  .image-ab-con {
    width: 400px;
    height: 250px;
  }
  
  .image-ab {
    width: 300px;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    will-change: transform, box-shadow;
  }
  .image-ab-con:hover .image-ab{
    transform: scale(.5) rotate(10deg);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  @media screen and (max-width:576px) {
    .image-ab-con {
      width: 200px;
      height: 200px;
    }
    .image-ab {
        width: 200px;
    }
    .image-track-ab {
        gap:10px;
    }
  }