/* body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  /* .slider-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
  }
  
  .image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  } */
  

  .slider-container-ab {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom:30px;
    margin-top: 30px;
    animation:appear 0.8s ease-out;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }

  @keyframes appear{
    from{
      opacity: 0;
      scale: 0.5;
    }
    to{
      opacity: 1;
      scale: 1;
    }
  }
  
  .image-track-ab {
    display: flex;
    gap: 20px;
    will-change: transform;
  }
  
  .image-ab {
    width: 300px;
    height: auto;
    object-fit: cover;
  }
  
  @media screen and (max-width:576px) {
    .image-ab {
        width: 200px;
    }
    .image-track-ab {
        gap:10px;
    }
  }