@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Kode+Mono:wght@400..700&family=Manrope:wght@200..800&family=Monsieur+La+Doulaise&family=Montez&display=swap');

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
    background-color: transparent;
    position: fixed;
    height: 80px;
    z-index: 12;
    transition: background-color 0.3s ease-in-out;
    /* animation: navbarColor 1s linear;
    animation-timeline: scroll(); */
}

@media screen and (max-width:576px) {
    .navbar {
        padding: 10px 15px;
        height: 50px;
    }
}

@keyframes navbarColor {
    to {
        /* background-color: rgb(67, 65, 65); */
        background-color: #fff;
        /* background-color: #ffebcd; */
    }
}

.logo {
    width: 100%;
    height: 100%;
    margin-right: 10px;
}
.navbar-logo {
    width:250px;
    margin-bottom: 3px;
}
@media screen and (max-width:576px) {
    .navbar-logo {
        width: 150px;
        margin-top: 5px;
    }
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.list {
    list-style: none;
    width: 80px;
}
.anchor {
    text-decoration: none;
    color: black;
    font-size: 15px;
    /* font-family: "Grechen Fuemen", serif; */
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-style: normal;
}
.anchor:hover {
    font-size: 17px;
    transform: translateY(-3px);
}
.laptop-links {
    display: none;
}
@media screen and (min-width:577px) {
    .laptop-links{
        display: flex;
    }
}
.mobile-links {
    display: flex;
}
@media screen and (min-width:576px) {
    .mobile-links{
        display: none;
    }
}
.navbar-link{
    text-decoration: none;
}



.sidepanel {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel.open {
    width: 250px;
}

.sidepanel a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #523907ce;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #523907ce;
    color: #fff;
}
